.card-cart{
    border-radius: 10px;
    color:#384047e5;
    background-color: #eff3f7c7;
}

.card-cart-img{
    width: 100px;
    align-self: left;
}

.btn-delete-product:hover{
    scale: 110%;
    cursor: pointer;
}

.btn-delete-product:active{
    scale: 100%;
    cursor: pointer;
}
